server:
{% if nsd_ips is defined %}
{% for ip in nsd_ips %}
  ip-address: {{ ip }}
{% endfor %}
{% endif %}
{% if nsd_port is defined %}
  port: {{ nsd_port }}
{% endif %}
{% if nsd_hide_version is defined %}
  hide-version: {{ nsd_hide_version }}
{% endif %}
{% if nsd_hide_version is defined %}
  hide-identity: {{ nsd_hide_identity }}
{% endif %}
{% if nsd_verbosity is defined %}
  verbosity: {{ nsd_verbosity }}
{% endif %}
{% if nsd_statistics is defined %}
  statistics: {{ nsd_statistics }}
{% endif %}
{% if nsd_use_tls is defined %}
  tls-service-key: "/etc/ssl/private/{{ nsd_use_tls }}.key"
  tls-service-pem: "/etc/ssl/{{ nsd_use_tls }}.fullchain.pem"
  tls-service-ocsp: "/etc/ssl/{{ nsd_use_tls }}.der"
{% endif %}

{% if nsd_remote_control is defined %}
remote-control:
  control-enable: {{ nsd_remote_control }}
  control-interface: "/var/run/nsd.sock"
  server-key-file: "/var/nsd/etc/nsd_server.key"
  server-cert-file: "/var/nsd/etc/nsd_server.pem"
  control-key-file: "/var/nsd/etc/nsd_control.key"
  control-cert-file: "/var/nsd/etc/nsd_control.pem"
{% endif %}

{% if nsd_keys is defined %}
{% for key in nsd_keys %}
key:
   name: "{{ key.name }}"
   algorithm: {{ key.algo }}
   secret: "{{ key.secret }}"
{% endfor %}
{% endif %}

{% if nsd_patterns is defined %}
{% for pattern in nsd_patterns %}
pattern:
  name: "{{ pattern.name }}"
{% if pattern.notify is defined %}
  notify: {{ pattern.notify }} {{ pattern.key }}
{% endif %}
{% if pattern.providexfr is defined  %}
  provide-xfr: {{ pattern.providexfr }} {{ pattern.key }}
{% endif %}
{% if pattern.allownotify is defined %}
  allow-notify: {{ pattern.allownotify }} {{ pattern.key }}
{% endif %}
{% if pattern.requestxfr is defined %}
  request-xfr: AXFR {{ pattern.requestxfr }} {{ pattern.key }}
{% endif %}
{% endfor %}
{% endif %}

{% if nsdzones is defined %}
{% for zone in nsdzones.keys() %}
zone:
  name: "{{ zone }}"
  zonefile: "master/{{ zone }}.zone"
{% if nsd_include_pattern is defined %}
  include-pattern: "{{ nsd_include_pattern }}"
{% endif %}
{% endfor %}
{% endif %}
