; START OF ZONE
$ORIGIN {{ item.key }}.                          ; default zone domain
$TTL {{ item.value.ttl }}                ; default time to live
@ IN SOA {{ item.value.soa }}. (
           {{ item.value.serial }}       ; serial number
           {{ item.value.refresh }}      ; Refresh
           {{ item.value.retry }}        ; Retry
           {{ item.value.expire }}       ; Expire
           {{ item.value.min_ttl }}      ; Min TTL
           )
{% for record in item.value.records %}
{% if record.name is defined %}{{ record.name }}{% else %}     {% endif %}     {% if record.type is defined %}{{ record.type }}     {% endif %}{% if record.value is defined %}{{ record.value }}{% endif %}

{% endfor %}
; END OF ZONE
